.web-desc {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.btn-delete-movies {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 91%;
}

/* .btn-liked-movies {
  position: absolute;
  z-index: 999;
  top: 28%;
  left: 91%;
} */
/*css code from here belongs to the hamburger button*/
.btn-liked-movies {
  position: absolute;
  z-index: 999;
  top: 16.9%;
  left: 93%;
  padding: 0.4rem;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
}

.btn-liked-movies:hover {
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
  transition: box-shadow 0.7s;
}

.hamburger-button {
  height: 50px;
  width: 50px;

  position: relative;
}
.hamburger-button span {
  height: 5px;
  width: 100%;
  background-color: #000000;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.hamburger-button span:nth-child(1) {
  top: 25%;
}
.hamburger-button span:nth-child(3) {
  top: 75%;
}

.hamburger-button.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: red;

  transition: background-color 0.2;
}
.hamburger-button.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-button.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: red;
  transition: background-color 0.2;
}
/*css code from here belongs to the delete all movies button*/
.icon {
  background: transparent;
  position: absolute;
  width: 60px; /* מעט יותר גדול מ-50px */
  height: 60px; /* מעט יותר גדול מ-50px */
  border-radius: 4.5px; /* מעט יותר גדול מ-3.75px */
  transition: box-shadow 0.2s ease;
  top: 26.3%;

  left: 93.3%;
  border: transparent;
  cursor: pointer;
}

.icon:hover {
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
  transition: box-shadow 0.7s, background-color 0.7s;
}

.lid {
  position: absolute;
  bottom: 36px; /* מעט יותר גדול מ-30px */
  left: 9px; /* מעט יותר גדול מ-7.5px */
  width: 42px; /* מעט יותר גדול מ-35px */
  height: 8px; /* מעט יותר גדול מ-5px */
}

.lidcap {
  position: absolute;
  bottom: 40.5px; /* מעט יותר גדול מ-34px */
  left: 26px; /* מעט יותר גדול מ-22px */
  height: 3px; /* נשאר אותו דבר */
  width: 6px; /* מעט יותר גדול מ-5px */
}

.lid,
.lidcap {
  border-top-left-radius: 10px; /* מעט יותר גדול מ-8.4px */
  border-top-right-radius: 10px; /* מעט יותר גדול מ-8.4px */
  background: #111;
  transition: transform 0.2s linear, margin 0.2s linear;
}

.icon:hover .lid,
.icon:hover .lidcap {
  transform: rotateX(14deg);
  margin-bottom: 7px; /* מעט פחות מ-7.75px */
}

.bin {
  position: absolute;
  bottom: 0;
  left: 15px; /* מעט יותר גדול מ-12.5px */
  width: 30px; /* מעט יותר גדול מ-25px */
  border-top: 36px solid #111; /* מעט יותר גדול מ-30px */
  border-left: 3px solid transparent; /* מעט יותר גדול מ-2.5px */
  border-right: 3px solid transparent; /* מעט יותר גדול מ-2.5px */
}

.c {
  position: absolute;
  border-radius: 0px;
  width: 2.5px; /* נשאר אותו דבר */
  height: 25px; /* מעט פחות מ-27.5px */
  background-color: #fff;
  bottom: 6px; /* מעט יותר גדול מ-5px */
}

.c.cut1 {
  left: 18px; /* מעט יותר גדול מ-16px */
  transform: rotate(5deg);
}
.c.cut2 {
  right: 18px; /* מעט יותר גדול מ-16px */
  transform: rotate(-5deg);
}

/* שינוי צבע כאשר המשתמש מרחף מעל הכפתור */
.icon:hover .lid,
.icon:hover .lidcap {
  background-color: red;
  transition: background-color 0.7s;
}
.icon:hover .bin {
  border-top-color: red;
  transition: border-top-color 0.7s;
}

.app-layout {
  position: relative;
}

.app-layout .btn-liked-movies {
  position: absolute;
  top: 131px;
  left: 1260px;
}

.app-layout .icon {
  position: absolute;
  top: 205px;
  left: 1260px;
}
