.web-desc {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.btn-delete-movies {
  /* position: absolute; */
  z-index: 999;
  /* top: 50%; */
  /* left: 91%; */
  grid-area: buttons;
}
/* .app-layout {
  position: relative;
  display: grid;
  grid-template-rows: 150px 150px 1fr;
  grid-template-columns: 1fr 0.1fr 150px;
  grid-template-areas:
    "header header header header"
    "search-bar search-bar search-bar search-bar"
    "content-container content-container content-container buttons";
} */
/* .app-layout {
  position: relative;
  display: grid;
  grid-template-rows: 120px 120px 1fr;
  grid-template-columns: 1fr 130px;
  grid-template-areas:
    "header header header"
    "search-bar search-bar search-bar"
    "content-container content-container buttons-area";
} */
.app-layout {
  position: relative;
  display: grid;
  grid-template-rows: 120px 120px 1fr;
  grid-template-columns: 1fr 100px;
  grid-template-areas:
    "header header"
    "search-bar search-bar"
    "content-container buttons-area";
}

/* Adjusting the CSS for the hamburger button to fit into the grid properly */
.btn-liked-movies {
  z-index: 1005;
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 10px;
  grid-area: buttons-area;
  z-index: 1005;
}
/*css code from here belongs to the hamburger button*/

.btn-liked-movies:hover {
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
  transition: box-shadow 0.7s;
}

.hamburger-button {
  height: 50px;
  width: 50px;

  position: relative;
}
.hamburger-button span {
  height: 5px;
  width: 100%;
  background-color: #000000;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.hamburger-button span:nth-child(1) {
  top: 25%;
}
.hamburger-button span:nth-child(3) {
  top: 75%;
}

.hamburger-button.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: red;

  transition: background-color 0.2;
}
.hamburger-button.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-button.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: red;
  transition: background-color 0.2;
}
/*css code from here belongs to the delete all movies button*/
.btn-delete-liked-movies-icon {
  background: transparent;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 4.5px;
  transition: box-shadow 0.2s ease;
  /* top: 26.3%; */
  grid-area: buttons-area;
  top: 90.5px;
  left: 17px;
  /* left: 93.3%; */
  border: transparent;
  cursor: pointer;
}

.btn-delete-liked-movies-icon:hover {
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
  transition: box-shadow 0.7s, background-color 0.7s;
}

.lid {
  position: absolute;
  bottom: 36px;
  left: 9px;
  width: 42px;
  height: 8px;
}

.lidcap {
  position: absolute;
  bottom: 40.5px;
  left: 26px;
  height: 3px;
  width: 6px;
}

.lid,
.lidcap {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #111;
  transition: transform 0.2s linear, margin 0.2s linear;
}

.btn-delete-liked-movies-icon:hover .lid,
.btn-delete-liked-movies-icon:hover .lidcap {
  transform: rotateX(14deg);
  margin-bottom: 7px;
}

.bin {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 30px;
  border-top: 36px solid #111;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.c {
  position: absolute;
  border-radius: 0px;
  width: 2.5px;
  height: 25px;
  background-color: #fff;
  bottom: 6px;
}

.c.cut1 {
  left: 18px;
  transform: rotate(5deg);
}
.c.cut2 {
  right: 18px;
  transform: rotate(-5deg);
}

.btn-delete-liked-movies-icon:hover .lid,
.btn-delete-liked-movies-icon:hover .lidcap {
  background-color: red;
  transition: background-color 0.7s;
}
.btn-delete-liked-movies-icon:hover .bin {
  border-top-color: red;
  transition: border-top-color 0.7s;
}

.btn-liked-movies {
  position: absolute;
  top: 13px;
  left: 12px;
  /* left: 1260px; */
}
